<div class="row">
    <div class="container col-sm-12" style="text-align: center;">
        <h1>Instagram</h1>
        <img style="height:30vh;width:30vh"
            src="https://images.unsplash.com/photo-1633886897663-44c707d71904?q=80&w=1780&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
        <br />
        <h5>Create an Account</h5>
        <form>
            <div style="text-align: left;">

                <h6>First Name: </h6> <input type="text" name="fname" placeholder="First Name">
                <h6>Last Name: </h6><input type="text" name="lname" placeholder="Last Name">
                <h6>Username: </h6><input type="text" name="uname" placeholder="Username">
                <h6>Password: </h6><input type="password" name="uname" placeholder="Password"><br />

                <h6>Gender:</h6>
                <input type="radio"><label for="male">Male</label>
                <input type="radio"><label for="female">Female</label><br />
                <input type="checkbox" value="priv">
                <label for="privv"> Enable Privacy</label><br>
                <input type="submit" value="Create Account">

                <div class="dropdown">
                    <button onclick="myFunction()" class="dropbtn">Country</button><br />
                    <div id="myDropdown" class="dropdown-content">
                        <a href="#">Pakistan</a>
                        <a href="#">America</a>
                        <a href="#">England</a>
                    </div>
                </div>
            </div>
        </form>
    </div>